/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("images/White.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/White.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px 20px;
}

.navbar-logo {
    height: auto; /* Adjusted size as needed */
    max-width: 200px;
    margin-left: -25px; /* Adjust value to move the logo more to the left */
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar .btn {
    background-color: #009cda; /* Updated button color */
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.navbar .btn:hover {
    background-color: #007bb5; /* Slightly darker shade for hover effect */
}

.dashboard {
    margin-top: 10px;
    overflow-x: auto; /* Ensure horizontal scrolling if necessary */
}

.dashboard-iframe {
    width: 100%;
    height: calc(100vh - 90px); /* Adjust height to account for the navbar */
    border: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-logo {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar .btn {
        margin-bottom: 5px;
    }

    .dashboard-iframe {
        height: calc(100vh - 120px); /* Adjust height for smaller screens */
    }
}
